services:
  db:
    image: postgres:17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d app"]
      interval: 5s
      retries: 10
      start_period: 15s

  backend:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
     PROJECT_NAME: "DevOpsFinalProject"
     FIRST_SUPERUSER: "admin@example.com"
     FIRST_SUPERUSER_PASSWORD: "admin123"
     POSTGRES_SERVER: db
     POSTGRES_PORT: 5432
     POSTGRES_USER: postgres
     POSTGRES_PASSWORD: postgres
     POSTGRES_DB: app
     BACKEND_CORS_ORIGINS: http://localhost:3000
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:8000
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  pgdata:
